.wrapper {
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto; }

@media screen and (min-width: 320px) {
  .wrapper {
    font-size: 0.95em; } }

@media screen and (min-width: 640px) {
  .wrapper {
    font-size: 1em; } }

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1024px; } }

p {
  margin: 0; }

.page {
  margin: 0;
  padding: 0;
  font: 14px/1 "Montserrat", sans-serif; }
  .page .flex-align-items-center, .page .header__nav-list, .page .horizontal-banner__text-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
  .page .flex-center, .page .horizontal-banner__arrow-wrap, .page .media-content__arrow-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }

.header {
  background-color: #373c3f; }
  .header__nav {
    position: relative;
    overflow: hidden; }
  .header__nav-list {
    width: 100%;
    height: 95px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none; }
  .header__nav-item {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 1.071em; }
  .header__nav-link {
    color: #ebebeb;
    text-transform: uppercase;
    text-decoration: none; }
  .header__nav-title {
    display: none; }
  .header__nav-button {
    display: none; }

@media only screen and (max-width: 640px) {
  .header__nav-button {
    display: block;
    position: absolute;
    height: 74px;
    right: 0px;
    background-color: #202529;
    width: 82px;
    cursor: pointer;
    padding: 20px;
    border: none; }
  .header__nav-button-icon {
    display: block;
    height: 4px;
    width: 31px;
    background-color: #fff;
    margin: 0 auto; }
  .header__nav-button-icon + .header__nav-button-icon {
    margin-top: 4px; }
  .header__nav-list {
    display: block;
    height: auto;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
    background: #d5d5d5;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column; }
  .header__nav-item {
    width: 100%;
    padding: 0; }
  .header__nav-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center; }
  .header__nav-link:hover {
    background-color: #b2b2b2; }
  .header__nav-button:hover ~ .header__nav-list,
  .header__nav-list:hover {
    max-height: 500px;
    transition: max-height 0.4s ease-in; }
  .header__nav-title {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 74px;
    padding-left: 30px;
    font-size: 1.5em;
    color: #ebebeb; } }

.banner {
  width: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, #19b4c6 0%, #0b9fb6 100%);
  background: -o-linear-gradient(top, #19b4c6 0%, #0b9fb6 100%);
  background: -ms-linear-gradient(top, #19b4c6 0%, #0b9fb6 100%);
  background: -moz-linear-gradient(top, #19b4c6 0%, #0b9fb6 100%);
  background: linear-gradient(to bottom, #19b4c6 0%, #0b9fb6 100%); }
  .banner__heading {
    white-space: pre;
    margin: 0 0 30px;
    color: #fff;
    font-weight: normal; }
  .banner__link {
    color: #fff;
    opacity: 0.5;
    line-height: 1.912;
    text-decoration: none; }
  .banner__arrow {
    display: inline-block;
    fill: #fff;
    margin: 0; }

@media screen and (min-width: 320px) {
  .banner__content {
    padding: 52px 25px; }
  .banner__heading {
    font-size: 1.5em; }
  .banner__link {
    font-size: 1em; }
  .banner__arrow {
    width: 15px;
    margin-left: 15%; } }

@media screen and (min-width: 640px) {
  .banner__content {
    padding: 110px 50px 100px; }
  .banner__heading {
    font-size: 3.286em; }
  .banner__link {
    font-size: 1.429em; }
  .banner__arrow {
    width: 20px;
    margin-left: 30%; } }

@media screen and (min-width: 1024px) {
  .banner__content {
    padding: 200px 75px 165px; }
  .banner__heading {
    font-size: 4.286em; }
  .banner__link {
    font-size: 2.429em; }
  .banner__arrow {
    width: 30px; } }

.horizontal-banner {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .horizontal-banner__text-wrap {
    width: 80%;
    height: 100%;
    background: #27212c; }
  .horizontal-banner__arrow-wrap {
    width: 20%;
    height: 100%;
    background: #bc3183; }
  .horizontal-banner__text {
    margin: 0;
    color: #9282a0; }
  .horizontal-banner__arrow {
    fill: #fff;
    margin: 0; }

@media screen and (min-width: 320px) {
  .horizontal-banner {
    height: 75px; }
    .horizontal-banner__text-wrap {
      padding-left: 25px;
      font-size: 0.8em; }
    .horizontal-banner__arrow {
      width: 15px; } }

@media screen and (min-width: 640px) {
  .horizontal-banner {
    height: 150px; }
    .horizontal-banner__text-wrap {
      padding-left: 50px;
      font-size: 1.143em; }
    .horizontal-banner__arrow {
      width: 20px; } }

@media screen and (min-width: 1024px) {
  .horizontal-banner {
    height: 245px; }
    .horizontal-banner__text-wrap {
      padding-left: 75px;
      font-size: 2.143em; }
    .horizontal-banner__arrow {
      width: 30px; } }

.media-content__image-wrap {
  height: 100%; }

.media-content__image1-wrap {
  display: block;
  background: url(../images/photo1.png) no-repeat;
  background-size: cover; }

.media-content__image2-wrap {
  display: block;
  background: url(../images/photo2.png) no-repeat;
  background-size: cover; }

.media-content__arrow-wrap {
  background: #5b0fa1; }

.media-content__arrow {
  width: 25px;
  fill: #fff; }

@media screen and (min-width: 320px) {
  .media-content {
    display: block; }
    .media-content__image-wrap, .media-content__arrow-wrap {
      width: 100%;
      height: 275px; }
    .media-content__arrow {
      width: 40px; } }

@media screen and (min-width: 465px) {
  .media-content__image-wrap, .media-content__arrow-wrap {
    height: 385px; } }

@media only screen and (min-width: 640px) {
  .media-content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .media-content__image-wrap, .media-content__arrow-wrap {
      width: 33.3%;
      height: 185px; }
    .media-content__arrow {
      width: 30px; } }

@media screen and (min-width: 850px) {
  .media-content__image-wrap, .media-content__arrow-wrap {
    height: 240px; } }

@media screen and (min-width: 1024px) {
  .media-content__image-wrap, .media-content__arrow-wrap {
    height: 290px; } }

.main {
  background-color: #ebebeb; }
  .main__heading {
    font-size: 2.143em;
    margin: 0 0 25px;
    color: #088ca5;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); }
  .main__text {
    margin-bottom: 10px;
    color: #515151;
    line-height: 1.857;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); }

@media screen and (min-width: 320px) {
  .main__content {
    padding: 65px 50px 100px; }
  .main__wrapper {
    display: block; }
  .main__left-column, .main__right-column {
    width: 100%; } }

@media screen and (min-width: 640px) {
  .main__wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .main__left-column {
    width: 50%;
    margin-right: 20px; }
  .main__right-column {
    width: 50%; } }

@media screen and (min-width: 1024px) {
  .main__content {
    padding: 45px 75px 165px; } }
