$imagesPath: "../images";
$page-font: 14px/1 "Montserrat", sans-serif;

$headerBackgroundColor: #373c3f;
$horizontalBannerTextWrapBgColor: #27212c;
$horizontalBannerArrowWrapBgColor: #bc3183;
$mediaContentArrowWrapBgColor: #5b0fa1;
$mainBackgroundColor: #ebebeb;
$mainHeadingColor: #088ca5;
$mainTextColor: #515151;


