.layout__main {
  padding: 30px; }
  .layout__main--wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .layout__main--text {
    margin-bottom: 10px; }
  .layout__main--left-column {
    width: 50%;
    margin-right: 20px; }
  .layout__main--right-column {
    width: 50%; }
