.banner {
    width: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(top, rgb(25, 180, 198) 0%, rgb(11, 159, 182) 100%);
    background: -o-linear-gradient(top, rgb(25, 180, 198) 0%, rgb(11, 159, 182) 100%);
    background: -ms-linear-gradient(top, rgb(25, 180, 198) 0%, rgb(11, 159, 182) 100%);
    background: -moz-linear-gradient(top, rgb(25, 180, 198) 0%, rgb(11, 159, 182) 100%);
    background: linear-gradient(to bottom, rgb(25, 180, 198) 0%, rgb(11, 159, 182) 100%);
    &__heading {
        white-space: pre;
        margin: 0 0 30px;
        color: #fff;
        font-weight: normal;
    }
    &__link {
        color: #fff;
        opacity: 0.5;
        line-height: 1.912;
        text-decoration: none;
    }
    &__arrow {
        display: inline-block;
        fill: #fff;
        margin: 0;
    }
}

@media screen and (min-width: 320px) {
    .banner {
        &__content {
            padding: 52px 25px;
        }
        &__heading {
            font-size: 1.5em;
        }
        &__link {
            font-size: 1em;
        }
        &__arrow {
            width: 15px;
            margin-left: 15%;
        }
    }
}

@media screen and (min-width: 640px) {
    .banner {
        &__content {
            padding: 110px 50px 100px;
        }
        &__heading {
            font-size: 3.286em;
        }
        &__link {
            font-size: 1.429em;
        }
        &__arrow {
            width: 20px;
            margin-left: 30%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        &__content {
            padding: 200px 75px 165px;
        }
        &__heading {
            font-size: 4.286em;
        }
        &__link {
            font-size: 2.429em;
        }
        &__arrow {
            width: 30px;
        }
    }
}