.header {
	background-color: $headerBackgroundColor;
	&__nav {
		position: relative;
		overflow: hidden;
	}
	&__nav-list {
		width: 100%;
		height: 95px;
		@extend .flex-align-items-center;
		justify-content: flex-start;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__nav-item {
		margin: 0;
		padding: 0;
		padding-left: 20px;
		font-size: 1.071em;
	}
	&__nav-link {
		color: #ebebeb;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__nav-title {
		display: none;
	}
	&__nav-button {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	.header__nav-button {
		display: block;
		position: absolute;
		height: 74px;
		right: 0px;
		background-color: #202529;
		width: 82px;
		cursor: pointer;
		padding: 20px;
		border: none;
	}
	.header__nav-button-icon {
		display: block;
		height: 4px;
		width: 31px;
		background-color: #fff;
		margin: 0 auto;
	}
	.header__nav-button-icon+ .header__nav-button-icon {
		margin-top: 4px
	}
	.header__nav-list {
		display: block;
		height: auto;
		max-height: 0;
		transition: max-height 0.4s ease-out;
		overflow: hidden;
		background: #d5d5d5;
		width: 100%;
		margin: 0;
		padding: 0;
		flex-direction: column;
	}
	.header__nav-item {
		width: 100%;
		padding: 0;
	}
	.header__nav-link {
		display: block;
		width: 100%;
		height: 100%;
		padding: 20px;
		text-align: center;
	}
	.header__nav-link:hover {
		background-color: #b2b2b2;
	}
	.header__nav-button:hover~ .header__nav-list,
	.header__nav-list:hover {
		max-height: 500px;
		transition: max-height 0.4s ease-in;
	}
	.header__nav-title {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 74px;
		padding-left: 30px;
		font-size: 1.5em;
		color: #ebebeb;
	}
}