.horizontal-banner {
	width: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	&__text-wrap {
		width: 80%;
		height: 100%;
		@extend .flex-align-items-center;
		background: $horizontalBannerTextWrapBgColor;
	}
	&__arrow-wrap {
		width: 20%;
		height: 100%;
		@extend .flex-center;
		background: $horizontalBannerArrowWrapBgColor;
	}
	&__text {
		margin: 0;
		color: #9282a0;
	}
	&__arrow {
		fill: #fff;
		margin: 0;
	}
}

@media screen and (min-width: 320px) {
	.horizontal-banner {
		height: 75px;
		&__text-wrap {
			padding-left: 25px;
			font-size: 0.8em;
		}
		&__arrow {
			width: 15px;
		}
	}
}

@media screen and (min-width: 640px) {
	.horizontal-banner {
		height: 150px;
		&__text-wrap {
			padding-left: 50px;
			font-size: 1.143em;
		}
		&__arrow {
			width: 20px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.horizontal-banner {
		height: 245px;
		&__text-wrap {
			padding-left: 75px;
			font-size: 2.143em;
		}
		&__arrow {
			width: 30px;
		}
	}
}