.main {
	background-color: $mainBackgroundColor;
	&__heading {
		font-size: 2.143em;
		margin: 0 0 25px;
		color: $mainHeadingColor;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	}
	&__text {
		margin-bottom: 10px;
		color: $mainTextColor;
		line-height: 1.857;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	}
}

@media screen and (min-width: 320px) {
	.main {
		&__content {
			padding: 65px 50px 100px;
		}
		&__wrapper {
			display: block;
		}
		&__left-column,
		&__right-column {
			width: 100%;
		}
	}
}

@media screen and (min-width: 640px) {
	.main {
		&__wrapper {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}
		&__left-column {
			width: 50%;
			margin-right: 20px;
		}
		&__right-column {
			width: 50%;
		}
	}
}

@media screen and (min-width: 1024px) {
	.main {
		&__content {
			padding: 45px 75px 165px;
		}
	}
}