.media-content {
	&__image-wrap {
		height: 100%;
	}
	&__image1-wrap {
		display: block;
		background: url(#{$imagesPath}/photo1.png) no-repeat;
		background-size: cover;
	}
	&__image2-wrap {
		display: block;
		background: url(#{$imagesPath}/photo2.png) no-repeat;
		background-size: cover;
	}
	&__arrow-wrap {
		@extend .flex-center;
		background: $mediaContentArrowWrapBgColor;
	}
	&__arrow {
		width: 25px;
		fill: #fff;
	}
}

@media screen and (min-width: 320px) {
	.media-content {
		display: block;
		&__image-wrap,
		&__arrow-wrap {
			width: 100%;
			height: 275px;
		}
		&__arrow {
			width: 40px;
		}
	}
}

@media screen and (min-width: 465px) {
	.media-content {
		&__image-wrap,
		&__arrow-wrap {
			height: 385px;
		}
	}
}

@media only screen and (min-width: 640px) {
	.media-content {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		&__image-wrap,
		&__arrow-wrap {
			width: 33.3%;
			height: 185px;
		}
		&__arrow {
			width: 30px;
		}
	}
}

@media screen and (min-width: 850px) {
	.media-content {
		&__image-wrap,
		&__arrow-wrap {
			height: 240px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.media-content {
		&__image-wrap,
		&__arrow-wrap {
			height: 290px;
		}
	}
}