p {
  margin: 0;
}
.page {
  margin: 0;
  padding: 0;
  font: $page-font;
  .flex-align-items-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
  .flex-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}