.wrapper {
    overflow: hidden;
    max-width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 320px) {
    .wrapper {
        font-size: 0.95em;
    }
}

@media screen and (min-width: 640px) {
    .wrapper {
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1024px;
    }
}